body, select, input {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

.desc {
  font-size: 15px;
  margin-bottom: 30px;
}

#tense {
  width: 110pt;
}

#aspect {
  width: 230pt;
}

#type {
  width: 200px;
}

#pronoun {
  width: 100pt;
}

input, label {
  cursor: pointer;
  user-select: none;
}

#verb {
  width: 160px;
}

#object {
  width: 323px;
}

#object_combo {
  width: 200px;
}

.controls {
  margin: 10px 0;
}

.repo {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;

}
a {
  color:  dodgerblue;
}
